---
title: _lucrs
bodyclass: home
---


{% include head.html %}

{% include header.html %}
	
	<section class="white-bg">
		<div class="content intro reveal">
			<h3>Hey, what's up. I'm Cris :)</h3>
			<h2>A Product Designer who codes.</h2>
			<p>Currently based in São Paulo, Brazil, with 6+ years of experience in solving problems by crafting and coding creative digital experiences.</p>
			<a class="inline-link" href="">check it out</a>
		</div>
	</section>

	<section class="accent-bg">
		<div class="content reveal">
			<h3>Featured Gigs</h3>
			<ul class="project-list">
				{% for projects in site.projects %}
					<li><a href="{{ projects.url }}" class="project-link active-item">{{ projects.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="white-bg after-accent">
		<div class="content reveal">
			<h3>A little bit about me</h3>
			<p>With a strong background in design and more than a little interest in coding, I love cracking real problems, designing modern and useful interfaces, and trying to do things that I don't know how (yet)</p>
			<p>you can call me at <strong>+55 (11) 9 7319-1843</strong><br>
			or send me a head’s up at <strong>lucristiano.s@gmail.com</strong></p>
			<div class="social-links">
				<a class="inline-link" href="">resume</a>
				<a class="inline-link" href="">instagram</a>
				<a class="inline-link" href="">linkedin</a>
			</div>
		</div>
	</section>

{% include footer.html %}
