<?xml version="1.0" encoding="UTF-8"?>
<svg width="1439px" height="810px" viewBox="0 0 1439 810" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <title>Rectangle 6</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Portfolio-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1.000000, 0.000000)">
        <polygon id="Rectangle-6" fill="#0021FF" points="1440 -3 1440 809.921875 0 -0.64453125"></polygon>
    </g>
</svg>